<ul>
	<li class="clearfix">
		<span class="number left">1.</span>
		<span class="details">
			Every
			<select class="frequency">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<select>
				<option value="1">Months</option>
				<option value="2">Weeks</option>
				<option value="3">Days</option>
			</select>
		</span>
	</li>
	<li class="clearfix">
		<span class="number left">2.</span>
		<span class="details">Twice a Month</span>
	</li>
	<li class="clearfix">
		<span class="number left">3.</span>
		<span class="details">One time transaction</span>
	</li>
</ul>